.circle-progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle-progress {
    width: 200px;
    height: 200px;
}

.circle-progress-background {
    fill: none;
    stroke-width: 10;
    stroke: #3f51b5;
}

.circle-progress-fill {
    fill: none;
    stroke: #e4e4e4;
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
}

.circle-progress-text {
    text-anchor: middle;
    font-size: 28px;
    font-weight: bold;
    fill: #3f51b5;
}